*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.85)), url('./Imgs/ribs.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

/* THIS DESIGN STARTS WITH MOBILE FIRST AND THEN REFORMATS FOR DESKTOP THROUGH MEDIA QUERIES */

/* NAVBAR */

.menulinks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: -275px;
    left: 0;
    background-color: #faf8ec;
    width: 100%;
    padding: 10px 20px;
    transition: 0.3s;
}

.menulinks.active{
    top: 75px;
}

.menulinks a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
    font-size: 15px;
    padding: 10px 0;
    transition: 0.5s;
}

.menulinks a:hover{
    background-color: #1b5cc4;
    color: white;
}

.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #faf8ec;
    padding: 0 20px;
    border-bottom: 2px solid #1b5cc4;
    box-shadow: 0px 3px 5px rgba(42, 42, 42, 0.484);
    z-index: 1;
}

.logo{
    width: 90px;
}

.mobilelinks i{
    margin-left: 20px;
    cursor: pointer;
}

.mobilelinks{
    display: flex;
    align-items: center;
}

.fa-bars{
    font-size: 30px;

}

/* MAIN */

/*links*/

.menutitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 75px;
    margin-bottom: 50px;
}

.menutitle h1{
    color: #1b5cc4;
    font-weight: 700;
    font-size: 38px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #1b5cc4;
    width: 100%;
}

.menutitle .categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menutitle p{
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    color: white;
    background-color: #1b5cc4;
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid white;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.menutitle p:hover{
    background-color: transparent;
    color: #1b5cc4;
}


/* Menu categories interactiveness*/

.breakfast.active{
    background-color: transparent;
    color: #1b5cc4;
}

.lunch.active{
    background-color: transparent;
    color: #1b5cc4;
}

.kids.active{
    background-color: transparent;
    color: #1b5cc4;
}

.blood-drive.active{
    background-color: transparent;
    color: #1b5cc4;
}

.dinner.active{
    background-color: transparent;
    color: #1b5cc4;
}

.dessert.active{
    background-color: transparent;
    color: #1b5cc4;
}


/* MENU ITEMS */

.section-container{
    background-color: white;
    padding: 40px 23px 20px;
    width: 90%;
    margin: 0 auto 20px;
}

.section-subitem{
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
}

.section-container h2{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 30px;
}

.items{
    border-left: 1px solid #1b5cc4;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.entry{
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
    padding-top: 10px;
}

.entrytitle{
    font-size: 17px;
    font-weight: 500;
}

.price{
    text-align: right;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;
}

.description{
    color: #757575;
    font-size: 17px;
    line-height: 1.4;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #1b5cc4;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

footer a:hover{
    color: black;
}

main{
    padding-bottom: 50px;
}

/* hamburger menu */

.hamburger{
    cursor: pointer;
    margin-left: 20px;
    transition: 0.3s;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    background-color: #1b5cc4;
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    background-color: #1b5cc4;
}


/* responsiveness */

@media screen and (min-width: 900px){
    
    /* main menu items */
    #menuitems{
        display: flex;
        flex-wrap: wrap;
        width: 65%;
        margin: 0 auto;

    }
    
    .section-container{
        width: 550px;
        
    }

    /* menu title */

    .menutitle .categories{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1100px;
        gap: 50px;;
    }

    .menutitle h1{
        border-bottom: none;
        font-size: 50px;
    }

    .menutitle p{
        border-bottom: none;
        border: 2px solid #1b5cc4;
    }

    .menutitle p:hover{
        background-color: transparent;
        color: #1b5cc4;
    }

}
